* {
    box-sizing: border-box;
    margin: 0;
    font-family: '思源黑體', serif;

}

header {
    display: flex;
    background-image: linear-gradient(to right, rgb(128, 11, 141), rgb(239, 114, 31));
    align-items: flex-end;
    justify-content: space-between;
    width: 100vw;


}

header h1 {
    /* background-color: rgb(97, 34, 156); */
    color: white;
    padding: 20px 50px;
    font-weight: bolder;
    font-size: 3rem;
    white-space: nowrap;

}




header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    width: 300px;
    height: 30px;
    margin-right: 30px;

}

header li {
    padding: 0 15px;

}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


header a:hover {
    font-size: 25px;
    color: rgb(185, 15, 247);
}



article {
    display: flex;

}



section>h3 {
    padding: 1rem;
    font-size: 2rem;
}

img {
    width: 600px;
    height: 400px;
}

iframe {
    width: 600px;
    height: 400px;
}

aside {
    background: #8021ed82;
    /* opacity: 0.5; */
    background-image: radial-gradient(#ed894b81 2px, #8021ed83 2px);
    background-size: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

aside h3 {
    height: 100px;
    padding-top: 40px;
    font-size: x-large;
    color: black;



}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    height: 100px;
    width: 200px;

}

aside ul li {
    padding: 5px;
    color: black;

}

@media (max-width:800px) {
    aside {
        display: none;
    }
}